html {
  font-family: $main-typo;
  background-image:url(../../img/background.png);
  // background-repeat: no-repeat;
  background-size: cover;
  font-size: 10px;
  margin: 0;
  height: 100vh;
}

.wrapper {
  margin: 0 auto;
  width: $wrapper-desktop;
}

h1 {
  color: $main-color;
  font-weight: bold;
  font-size: $size-xl;
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}