@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  font-family: "Poppins", sans-serif;
  background-image: url(../../img/background.png);
  background-size: cover;
  font-size: 10px;
  margin: 0;
  height: 100vh; }

.wrapper {
  margin: 0 auto;
  width: 108.4rem; }

h1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 3.6rem;
  text-transform: capitalize; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.container__form {
  align-items: center;
  background: #FFFFFF;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  float: right;
  justify-content: center;
  margin-top: 104px;
  padding: 3.5rem;
  width: 35%; }

form {
  color: #252525;
  font-size: 1.6rem;
  text-transform: capitalize;
  width: 100%; }
  form label {
    font-weight: bold; }
  form input {
    border: 1px solid #CCCCCC;
    border-radius: 0.8rem;
    font-family: "Montserrat", sans-serif;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 94%; }
    form input::placeholder {
      color: #666666;
      text-transform: capitalize; }

.mainBtn {
  background: #36B2EB;
  color: #FFFFFF; }

.secondaryBtn {
  background: #FFFFFF;
  color: #36B2EB; }

.form__button {
  display: flex;
  justify-content: center; }

.form__button--btn {
  border: 2px solid #36B2EB;
  border-radius: 20px;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem;
  text-transform: capitalize;
  width: 12rem; }
  .form__button--btn:hover {
    background: #168ac0;
    border: 2px solid #168ac0;
    color: #FFFFFF; }

.title {
  color: #FFFFFF;
  font-size: 36px; }

.artist {
  display: inline-block;
  margin-top: 250px; }

.artist_content {
  display: inline-block; }

.artist_content + .artist_content {
  margin-left: 20px; }

.artist_content--name {
  color: #FFFFFF;
  font-size: 24px;
  text-align: center; }

.artist_content--album {
  border-radius: 35px;
  height: 201px;
  width: 164px; }

.songsList {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin: 3rem 0 2rem 0;
  width: 53rem; }

.songList__item {
  align-items: center;
  border-bottom: 0.1rem solid #252525;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-bottom: 2rem; }
  .songList__item img {
    border-radius: 2rem;
    width: 15%;
    height: 15%; }

.songsList__item--name {
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .songsList__item--name p {
    font-weight: bold;
    margin: 0; }
  .songsList__item--name span {
    font-family: "Montserrat", sans-serif; }

.musicPlayer {
  width: 100%; }

.musicPlayer_nameSong {
  color: #FFFFFF;
  font-size: 9rem;
  font-weight: bold;
  position: absolute;
  top: 400px;
  left: 500px; }

.musicPlayer__image {
  width: 100%;
  margin-top: 150px;
  border-radius: 50px; }

.addPlaylist {
  background-image: url(../../img/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 4rem;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-indent: 100%;
  white-space: nowrap;
  margin-left: 25px; }

.before {
  background-image: url(../../img/before.svg); }

.play {
  background-image: url(../../img/play.svg);
  font-size: 6rem; }

.after {
  background-image: url(../../img/after.svg); }

.favorite {
  background-image: url(../../img/favorite.svg);
  margin-left: 105px; }

.musicPlayer__control {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13.2648px 100px;
  width: 230px;
  height: 60px;
  background: #8F44AE;
  border-radius: 19.8972px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 20px;
  margin-left: 125px; }

.box__content {
  align-items: center;
  background: #FFFFFF;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  float: right;
  justify-content: center;
  margin-top: 180px;
  padding: 3.5rem;
  width: 35%; }
  .box__content h1 {
    color: #8F44AE;
    font-weight: bold;
    margin-bottom: 2rem; }
  .box__content img {
    border-radius: 3.5rem;
    height: 201px;
    margin: 2rem 0 4rem 0;
    width: 45%; }
  .box__content p {
    color: #8F44AE;
    font-size: 1.8rem;
    margin: 0;
    text-align: center; }

.sideBar {
  width: 430px; }
  .sideBar h3:hover {
    background: #8F44AE;
    border-radius: 1rem;
    color: #FFFFFF;
    padding: 1rem;
    margin: 0; }

.sideBar__join {
  border-bottom: 0.1rem solid #252525;
  cursor: pointer;
  font-size: 1.6rem;
  margin-bottom: 4rem;
  padding: 1.5rem 0 1rem 0; }

.sideBar__user {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.sidebar__edit {
  background: transparent;
  border: none; }

.sidebar__edit {
  background-image: url(../../img/edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  font-size: 4rem;
  overflow: hidden;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap; }

.songList__edit {
  border-bottom: 0.1rem solid #252525;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem; }
  .songList__edit h2 {
    font-size: 2.4rem; }

.song__container {
  width: 530px; }

.position {
  margin: 0;
  padding: 0;
  position: relative; }

.background {
  background: rgba(20, 20, 20, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.container__modal {
  position: absolute;
  top: 40%;
  left: 30vw; }
  .container__modal h2 {
    color: #8F44AE;
    font-size: 2.4rem;
    margin: 0 0 2rem 0; }

.js__none {
  display: none; }
