.musicPlayer {
  width: 100%;
}

.musicPlayer_nameSong {
  color:  $main-color;
  font-size: 9rem;
  font-weight: bold;
  position: absolute;
  top: 400px;
  left: 500px;
}

.musicPlayer__image  {
  width: 100%;
  margin-top: 150px;
  border-radius: 50px;
}

.addPlaylist {
  background-image: url(../../img/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 4rem;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-indent: 100%;
  white-space: nowrap;
  margin-left: 25px;
}
  
.before {
  background-image: url(../../img/before.svg);
}

.play {
  background-image: url(../../img/play.svg);
  font-size: 6rem;
}
  
.after {
  background-image: url(../../img/after.svg);
}
  
.favorite {
  background-image: url(../../img/favorite.svg);
  margin-left: 105px;
}
  
.musicPlayer__control {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13.2648px 100px;
  width: 230px;
  height: 60px;
  background: #8F44AE;
  border-radius: 19.8972px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 20px;
  margin-left: 125px;
}